{% extends 'base.html' %}{% block title %}List of pets{% endblock %} {% block
content %}
<main class="m-5 w-90 h-90">
  <h1 class="display-3">List of available pets</h1>
  <div class="d-flex p-2">
    {% for pet in pets if pet.available %}
    <div class="border">
      <img
        class="mx-auto"
        src="{{pet.photo_url}}"
        width="250px"
        height="250px"
        alt=""
      />
      <p class="text-center">
        {{pet.name}}:{% if pet.available == true %}Available{% elif
        pet.available == False %}Unavailable{% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
  <a class="btn btn-l bg-success text-light" href="/add">Add pet</a>
</main>
{% endblock %}
